.header
{
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
}
.logo
{
    width: 200px;
}
.nav-items>ul{
    font-size: 20px;
    display: flex;
    list-style-type: none;
}
.nav-items>ul>li
{
    padding: 10px;
    margin: 10px;
}
.search{
    padding: 10px;
}

.res-card:hover{
    border: 1px solid black;
    cursor: pointer;

}

.res-card{
    width: 200px;
    border-radius: 20px;
    background-color: #DCDCDC;
    padding: 10px;
    margin: 10px;

}

.res-logo{
    border-radius: 25px;
    width: 100%;
    height: 140px;
}

.res-container
{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;

}