.header {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 200px;
}
.nav-items > ul {
  font-size: 20px;
  display: flex;
  list-style-type: none;
}
.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}
.search {
  padding: 10px;
}

.res-card:hover {
  border: 1px solid black;
  cursor: pointer;
}

.res-card {
  width: 20%;
  border-radius: 20px;
  background-color: #dcdcdc;
  margin: 10px;
  padding: 10px;
}

.resName,
.resCusinie {
  width: 100%;
}
.res-logo {
  border: px solid black;
  border-radius: 25px;
  width: 100%;
  height: 140px;
}

.res-container {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}

.resName,
.resRating,
.resCusinie,
.resDelivery {
  font-family: sans-serif;
}

.filter-btn {
  cursor: pointer;
  padding: 10px;
  margin: 10px;
}
.search-container {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.home:hover,
.about:hover,
.contact:hover,
.cart:hover {
  color: blue;
  cursor: pointer;
}

.search-input {
  width: 400px;
  height: 50px;
}

/* .search-btn {
  background-image: url("https://www.citypng.com/public/uploads/preview/download-blue-search-icon-button-png-11640084027s0fkuhz2lb.png");
  background-size: cover;
  background-position: center;
  border: none;
} */

.shimmer-card {
  margin: 20px;
  width: 290px;
  height: 290px;
  background-color: gray;
  animation-name: example;
  animation-duration: 2s;
  border-radius: 20px;
}

.restaurant-list {
  display: flex;
  flex-wrap: wrap;
}

@keyframes example {
  from {
    background-color: lightgrey;
  }
  to {
    background-color: darkgrey;
  }
}
